MAIN_SITE_ORIGIN=http://localhost:3000
ECOMMERCE_PUBLIC_ORIGIN=http://localhost:3007
NEXT_PUBLIC_ECOMMERCE_WEB_ORIGIN=http://localhost:3007
NEXT_PUBLIC_BOOK_MALL_URL=http://localhost:3000
TOOLS_SSO_SERVER_SECRET=
TOOLS_SSO_JWT_SECRET=
